docker/storage-common
docker/storage-react/node_modules
docker/storage-react/node_modules/
docker/storage-react/node_modules/*
docker/storage-fastapi-backend/itisai_brain
docker/storage-fastapi-backend/itisai_brain/
docker/storage-fastapi-backend/itisai_brain/*
*mp3
*opus
*png
*wav
*mp4
*.swp
.*.swp
__pycache__
.DS_Store
docker.log
