docker/storage-mysql
docker/storage-mysql/**
docker/storage-mysql/*
docker/storage-mysql/
docker/storage-nodejs/node_modules
docker/storage-nodejs/node_modules/*
docker/storage-nodejs/node_modules/
docker/storage-nodejs/uploads
docker/storage-common
docker/storage-fastapi-backend/itisai_brain
docker/storage-fastapi-backend/itisai_brain/
docker/storage-fastapi-backend/itisai_brain/*
*mp3
*png
*wav
*mp4
*.swp
.*.swp
__pycache__
.DS_Store
