uvicorn[standard]
gunicorn
fastapi[all]
fastapi-sessions
Pillow
pydantic
requests
python-dateutil
openai
groq
tiktoken
python-jose[cryptography] # needed for JWT token
pytest # needed for tests, httpx too?
sse-starlette # for streaming
asyncio # for streaming
# aws
boto3
# Db
sqlalchemy
databases
mysql-connector-python
aiomysql
tenacity # to retry on failed DB operations 
bcrypt # password from DB

