/* BottomToolsMenu.css */
.bottom-tools-menu {
 display: flex;
 align-items: center;
 padding: 10px 20px;
 background-color: #2c2c2c;
 border-top: 1px solid #444;
 position: absolute;
 bottom: 0;
 width: 100%;
}

.bottom-tools-menu .message-input {
 flex-grow: 1;
 padding: 10px;
 margin-right: 10px;
 background-color: #1e1e1e;
 border: 1px solid #444;
 color: #fff;
 border-radius: 5px;
}

.bottom-tools-menu .record-button,
.bottom-tools-menu .attach-button {
 background: none;
 border: none;
 color: white;
 font-size: 24px;
 cursor: pointer;
 margin-right: 10px;
}

.bottom-tools-menu .attach-button {
 margin-right: 25px;
}