/* ChatMessage.css */
.chat-message {
  display: flex;
  align-items: flex-start;
  margin-top: 12px;
  padding: 10px;
  border-radius: 5px;
  word-wrap: break-word;
  /* Ensures long words break to prevent overflow */
}

.chat-message.user {
  background-color: #3a3a3a;
  text-align: left;
}

.chat-message.ai {
  background-color: #2c2c2c;
  text-align: left;
}

.chat-message .avatar {
  margin-right: 10px;
}

.chat-message .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat-message .message-content {
  max-width: 80%;
}

.chat-message p {
  margin: 0;
  line-height: 1.5;
  /* Adjust line spacing */
  word-wrap: break-word;
  /* Ensures long words break to prevent overflow */
}

.chat-message .image-container {
  display: flex;
  overflow-x: auto;
  margin-top: 10px;
}

.chat-message .image-container img {
  max-width: 256px;
  max-height: 256px;
  margin-right: 10px;
  cursor: pointer;
}

.chat-message audio {
  display: block;
  margin-top: 10px;
}

.img-gen-button {
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.img-gen-button:hover {
  background-color: #2c2c2c;
  border-radius: 50%;
}